.about-page{
    background-color: white;
}
.about-page section p {
    font-size: 16px;
}

.about-heading{
    height: 400px;
    background-image: url('/images/about-bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
}

