.compounding-page {
    background-color: white;
}

.compounding-page section p {
    font-size: 16px;
}

.compounding-heading {
    height: 400px;
    background-image: url('/images/about-bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
}

.compound-table tr:nth-child(1){
width: 300px;
}
table.compound-table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) {
    width: 60%;
    padding: 20px;
  }

 .compound-table > tbody > tr > th:not(:first-child) {
    text-align: center;
 }
 .compound-table > tbody > tr:not(:first-child) > td {
    width: 200px;
    text-align: center;
    padding: 15px !important;

}

.join {
    width: 100%;
    text-align: center;
    background-image: url("/images/balloon.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.join > h1 {
    padding: 20px 0;
    font-size: 4rem;
    color: white;
}

.join > .join-btn {
    /* margin-top: 2%; */
    text-decoration: none;
    padding-right: 2vw;
    padding-left: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 3.6vw;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    border: 0;
    border-radius: 0;
    border-bottom: 2px #fff solid;
    background-color: #000;
    color: #fff;
    transition: all 0.8s;
}

.join > .join-btn:hover {
    border: 0;
    border-bottom: 4px #000 solid;
    background-color: #fff;
    color: #000;
}
