body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff !important;
}

a:hover {
    text-decoration: underline;
}

.disclaimers-page{
    background-color: white;
    font-weight: 500;
    font-size: 1rem !important;
}

.disclaimers-page section p {
    font-size: 20px !important;
}

.disclaimers-heading{
    height: 400px;
    background-image: url('/images/current-etf-head.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
}

.disclaimer-link {
    text-decoration: none;
    color: inherit;
}
