body {
    margin: 0;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.founder-page{
    background-color: white;
}
.founder-page section p {
    font-size: 20px !important;
}

.founder-heading{
    height: 400px;
    background-image: url('/images/founder-head.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
}

.text-dgrey{
    color: #6d6d6d;
}

.commonRow{
    padding-top: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.commonRow .text {
    display: flex;
    align-items: flex-start;
    font-family: "Montserrat",sans-serif;
    color: #525151;
    font-weight: 500;
    color: #333;
}

.commonRow .text p, .commonRow .text li {
    color: #525151;
}

.commonRow .img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.commonRow .img img {
    width: 100%;
    height: 26vw;
}

a{
    text-decoration: none !important;
    background-color: transparent;
}

img{
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.text-green{
    color: #06c910;
}

