* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff !important;
    transition: all 0.5s;
    transition-timing-function: ease;
}

.ladder {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1rem;
}


.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    /* z-index: 1;
    margin-top: 10% !important; */
}

.text-image {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 200%;
    color: black;
}

.market-goal {
    font-size: 150%;
}

.testimonial ul > li {
    list-style-type: square;
    font-size: 18px;
    margin: 10px 0;
}

.testimonial .list-unstyled{
        padding-left: 0;
        list-style: none !important;
}

.testimonial div > i {
    margin: 10 auto;
}

.join {
    width: 100%;
    height: 30vw;
    text-align: center;
    background-image: url("/images/balloon.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.join > h1 {
    padding: 20px 0;
    font-size: 3.8rem;
    color: white;
}

.join-btn {
    /* margin-top: 2%; */
    text-decoration: none;
    padding-right: 2vw;
    padding-left: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 3.6vw;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    border: 0;
    border-radius: 0;
    border-bottom: 2px #fff solid;
    background-color: #000;
    color: #fff;
    transition: all 0.8s;
}

.join-btn:hover {
    border: 0;
    border-bottom: 4px #000 solid;
    background-color: #fff;
    color: #000;
}


.about-btn {
    background-color: rgba(209, 0, 0, 0.993);
    color: #fff;
    margin: 0;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 1.4vw;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 2.6vw;
}

.about-btn:hover {
    color: #000;
}

.reading {
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    height: 40vw;
}

.reading .leftTile {
    padding: 0;
    margin: 0;
    width: 30%;
    background-color: transparent;
}

.reading .rightTile {
    background-image: url("/images/colorballoon.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    width: 70%;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
}

.leftContent {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-right: 0;
    width: 70%;
    float: right;
    background-color: transparent;
}

.rightContent {
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    margin: 0;
    /* left: 0; */
    padding: 2vw;
    position: relative;
    bottom: 0;
    width: 40%;
    float: left;
    background-color: rgba(255, 255, 255, 0.795);
    transition: all 0.5s;
    overflow: scroll;
}

.rightContent .li h1 p,
.rightContent .li p {
    padding: 0;
}

.rightContent::-webkit-scrollbar {
    display: none;
}

.rightContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reading h1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 2px;
    font-size: 1.6vw;
    font-weight: 400;
}

.reading #tileHead {
    font-size: 1.8vw;
    font-weight: 400;
}

.reading #tileBody {
    margin: 10px 0;
    font-size: 1.1vw;
}

.reading .tileLink {
    color: rgba(5, 167, 13, 0.836);
    font-size: 1.2vw;
}

.reading li {
    display: flex;
    align-content: center;
    padding: 10px;
    padding-left: 1px;
    padding-right: 2px;
    list-style: none;
    color: #c50000;
    cursor: pointer;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: 0.3px;
    line-height: 1.6;
    border-top: rgba(128, 128, 128, 0.432) 1px solid;
    list-style: none;
    transition: all 0.5s;
}

.reading li:before {
    color: gray;
    content: "\00A0\00A0 \25BA";
}

p,
li {
    color: #525151;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.reading .leftTile .leftContent .active,
.reading .leftTile .leftContent .active:before {
    color: #fff !important;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.bglGreen {
    color: #000;
    background-color: #baf69594;
}

.dropend .btn {
    width: 270px;
    text-align: left;
}

.dropend > .btn:focus {
    background-color: red;
    color: white;
}

.dropdown-menu li {
    width: 350px !important;
}

.investment-journey {
    padding: 3vw;
    height: auto;
    width: 100%;
    word-wrap: break-word;
    background-color: #5db605;
}

.investment-journey h1 {
    color: white;
    font-size: 2.5rem;
}

.investment-journey button {
    background-color: rgba(209,0,0,.993);
    color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    width: fit-content;
    height: 3.5vw;
    transition: all .8s;
}

.investment-journey button:hover {
    color: #5db605;
    background-color: #fff;
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
