body {
    background-color: rgb(243, 241, 241);
}

#sidenavAccordion .nav-link:hover,
#sidenavAccordion .nav-link:focus,
#sidenavAccordion .active {
    background: #8360c3 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2ebf91,
        #8360c3
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2ebf91,
        #8360c3
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btns {
    border-radius: 0.4vw;
    /* width:33%; */
}

button:hover,
.btn:hover {
    background-color: blue !important;
    /* opacity: .5; */
    color: white !important;
}

.w-fx {
    width: auto;
}

.bg-green {
    background-color: rgb(72, 212, 72) !important;
    color: white !important;
}

.bg-gray {
    background-color: rgb(145, 142, 142);
    color: white !important;
}

.bg-red {
    background-color: rgb(255, 81, 0) !important;
    color: #fff !important;
}

.bg-purple {
    background-color: purple;
    color: #fff;
}

.bg-pink {
    background-color: rgb(255, 100, 126);
    color: #fff;
}

.bg-lightblue {
    background-color: rgb(0, 174, 255);
    color: #fff;
}

#example tr td:nth-child(1),
#example tr th:nth-child(1) {
    width: 100px !important;
}

#example tr:last-child td:nth-child(1) {
    border-right: none;
}

/* #example tr > :nth-last-child(2), */
#example tr > :nth-last-child(1) {
    min-width: 200px;
    text-align: left;
}

#example tr > th,
#example tr > td {
    border-right: none;
    border-left: none;
}

.form-label {
    font-weight: bolder;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
